* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/dice.jpg');
}

@media screen and (max-width:768px) {
    .wrapper {
        min-width: 110%;
    }
    #dice {
        min-width: 80%;
    }
    #diceButton {
        font-size: 60%;
        min-width: 60%;
    }
}

.wrapper {
    border: .3em double rgb(40, 26, 99);
    padding: 2em;
    width: 90%;
    margin: auto;
    background-color: skyblue;
    text-align: center;
}

#dice {
    border-radius: 1em;
    font-weight: bold;
    font-size: 3em;
    padding-top: 6em;
    background-image: url("../img/innerDice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 3em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.3em;
    border: 8px solid black;
}

#diceButton {
    text-transform: uppercase;
    font-weight: bolder;
    background-color: blue;
    color: white;
    width: 30%;
    height: 2em;
    margin: auto;
    margin-bottom: 1em;
    cursor: pointer;
    border: .2em solid black;
}